body{
    margin: 0;
    padding: 0;
    
}

h1{
    margin: 0;
    padding: 0;
    color: #084C61;
}

h2{
    margin: 0;
    padding: 0;
    color: #DB504A;
}

p{
    margin: 0;
    padding: 0;
    color: #4F6D7A;
}

a{
    color: #56A3A6;
}

    
    

    
    


